header{
  height:45px;
  margin-top:50px;
}
h1{
  text-align: center;
  margin:0;
  font-size: 52px;
  text-transform: uppercase;
}
h2{
}
section{
  margin-top:100px;
  text-transform: uppercase;
  text-align: center;
  border:1px solid black;
}
#productspot{
  margin-top:30px;
  text-align: center;
}
.pool{
  border-radius:400px;
  max-height: 250px;
  max-width: 250px;
  height: 250px;
  width: 250px;
}
hr{
  display: block;
  border:0.5px solid grey;
  width:90%;
}
.price{
  font-size: 40px;
  font-weight:bold;
}
#quantity{
  width:70px;
}
#woodPool{
  display:none;
}
.productTitle{
  font-weight:bold;
}
